@*@model ModClieClientes*@
@{
    Layout = null;
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Registrar nuevo cliente</h3>
    </div>
    <div class="card-body">
        <div class="mb-2">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control form-control-sm" id="txtNombres" />
        </div>
        <div class="mb-2">
            <label class="form-label">Apellido</label>
            <input type="text" class="form-control form-control-sm" id="txtApellidos" />
        </div>
        <div class="mb-2">
            <label class="form-label">Telefono</label>
            <input type="text" class="form-control form-control-sm" id="txtTelefono" />
        </div>
        <div class="mb-2">
            <label class="form-label">Correo Electronico</label>
            <input type="text" class="form-control form-control-sm" id="txtEmail" />
        </div>
    </div>
    <div class="card-footer">
        <button id="btn_regresar" class="btn btn-default btn-sm btn-block" data-url='@Url.Action("Regresar","Home")'>
            <i class="fade fa-plus"></i><< Regresar
        </button>
        <button id="btn_guardar" class="btn btn-success btn-block" data-url='@Url.Action("RegistrarCliente","Home")'>
            <i class="fade fa-save"></i> Guardar
        </button>
    </div>
</div>
@{
    await Html.RenderPartialAsync("~/Views/Home/_script_clientes.cshtml");
}

